{{>header}}

<body>
    {{>navbar}}

    <div class="about_page">
        <div class="main_col">
            <div class="left_page">
  <h1>About Us</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus esse aliquam commodi rerum quibusdam. Excepturi adipisci veritatis culpa officia provident placeat quam illum pariatur atque aliquid molestiae, quod nobis harum. Ea, suscipit. Sunt asperiores, eveniet accusantium deserunt molestias harum temporibus libero, explicabo dicta nostrum ipsa quasi iusto, consectetur labore laudantium qui consequuntur et nam necessitatibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, facere! Dolores ad officiis aspernatur suscipit amet, autem voluptas deserunt sequi laudantium sit harum. Facere suscipit laboriosam rem commodi repudiandae in saepe soluta minima ab, quaerat omnis nostrum? Tempore, minus necessitatibus.</p>
            </div>
            <div class="right_page first">
                <img src="/images/ab1.webp" alt="">
            </div>
        </div>
        <div class="main_col">
            <div class="left_page first">
                <img src="/images/ab2.jpg" alt="">
            </div>
            <div class="right_page">
  <h1>About Us</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus esse aliquam commodi rerum quibusdam. Excepturi adipisci veritatis culpa officia provident placeat quam illum pariatur atque aliquid molestiae, quod nobis harum. Ea, suscipit. Sunt asperiores, eveniet accusantium deserunt molestias harum temporibus libero, explicabo dicta nostrum ipsa quasi iusto, consectetur labore laudantium qui consequuntur et nam necessitatibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, facere! Dolores ad officiis aspernatur suscipit amet, autem voluptas deserunt sequi laudantium sit harum. Facere suscipit laboriosam rem commodi repudiandae in saepe soluta minima ab, quaerat omnis nostrum? Tempore, minus necessitatibus.</p>
            </div>
        </div>
        <div class="main_col">
            <div class="left_page">
              <h1>About Us</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus esse aliquam commodi rerum quibusdam. Excepturi adipisci veritatis culpa officia provident placeat quam illum pariatur atque aliquid molestiae, quod nobis harum. Ea, suscipit. Sunt asperiores, eveniet accusantium deserunt molestias harum temporibus libero, explicabo dicta nostrum ipsa quasi iusto, consectetur labore laudantium qui consequuntur et nam necessitatibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, facere! Dolores ad officiis aspernatur suscipit amet, autem voluptas deserunt sequi laudantium sit harum. Facere suscipit laboriosam rem commodi repudiandae in saepe soluta minima ab, quaerat omnis nostrum? Tempore, minus necessitatibus.</p>
            </div>
            <div class="right_page first">
                <img src="/images/hot11.jpg" alt="">
            </div>
        </div>
        <div class="main_col">
            <div class="left_page first ">
                <img src="/images/hotel3.jpg" alt="">

            </div>
            <div class="right_page ">
                  <h1>About Us</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus esse aliquam commodi rerum quibusdam. Excepturi adipisci veritatis culpa officia provident placeat quam illum pariatur atque aliquid molestiae, quod nobis harum. Ea, suscipit. Sunt asperiores, eveniet accusantium deserunt molestias harum temporibus libero, explicabo dicta nostrum ipsa quasi iusto, consectetur labore laudantium qui consequuntur et nam necessitatibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, facere! Dolores ad officiis aspernatur suscipit amet, autem voluptas deserunt sequi laudantium sit harum. Facere suscipit laboriosam rem commodi repudiandae in saepe soluta minima ab, quaerat omnis nostrum? Tempore, minus necessitatibus.</p>
            </div>
        </div>
        <div class="main_col">
            <div class="left_page ">
                  <h1>About Us</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus esse aliquam commodi rerum quibusdam. Excepturi adipisci veritatis culpa officia provident placeat quam illum pariatur atque aliquid molestiae, quod nobis harum. Ea, suscipit. Sunt asperiores, eveniet accusantium deserunt molestias harum temporibus libero, explicabo dicta nostrum ipsa quasi iusto, consectetur labore laudantium qui consequuntur et nam necessitatibus?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, facere! Dolores ad officiis aspernatur suscipit amet, autem voluptas deserunt sequi laudantium sit harum. Facere suscipit laboriosam rem commodi repudiandae in saepe soluta minima ab, quaerat omnis nostrum? Tempore, minus necessitatibus.</p>
            </div>
            <div class="right_page first">
                <img src="/images/hot9.jpg" alt="">

            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>