{{>header}}
</head>
<body>
    {{>navbar}}
    <div class="main_container">
        <div class="contact_page">
            <div class="left_container">
                 <h1>You can Contact Us via: </h1>
                 <a href="#"><img src="/images/mail.png" alt=""></a>
                 <a href="https://mail.google.com/mail/u/0/#inbox"><h2>Go to our email Site</h2></a>
            </div>
            <div class="right_container">
                   <h2>Contact Us at the : </h2>
                   <div class="social_sites">
                   <a href="https://www.facebook.com/index.php"> <img src="/images/fb.png" alt=""></a>
                   </div>
                   <div class="social_sites">
                    <a href="https://help.instagram.com/155940534568753"><img src="/images/inst.png" alt=""></a>
                   </div>
                   <div class="social_sites">
                    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><img src="/images/twitter.png" alt=""></a>
                   </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>