{{>header}}
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Airbnb</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            UserLogin
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/register">Sign Up</a></li>
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        </ul>
                    </li>
                </ul>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
    </nav>
 
<div class="hotel_detail">

    <h1 class="heading">our services</h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/hot.jpg" alt="">
            <h3>Hotel taj</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>

        <div class="box">
            <img src="/images/hot2.jpg" alt="">
            <h3>Hotel hayat</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>

        <div class="box">
            <img src="/images/hot3.jpg" alt="">
            <h3>Raddison Blue</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>

        <div class="box">
            <img src="/images/hot4.webp" alt="">
            <h3>Akhil Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>

        <div class="box">
            <img src="/images/hotel1.webp" alt="">
            <h3>Oyo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>

        <div class="box">
            <img src="/images/hotel2.jpg" alt="">
            <h3>Rajkundra Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
        <div class="box">
            <img src="/images/hot5.jpg" alt="">
            <h3>Extreme Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
        <div class="box">
            <img src="/images/hot6.jpg" alt="">
            <h3>Mr Aventure</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
        <div class="box">
            <img src="/images/hot7.jpg" alt="">
            <h3>Ramgarh hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
        <div class="box">
            <img src="/images/hotel1.webp" alt="">
            <h3>Oyo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
  <div class="box">
            <img src="/images/hot8.jpg" alt="">
            <h3>Irriac</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
          <div class="box">
            <img src="/images/hot9.jpg" alt="">
            <h3>Shaundik Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
          <div class="box">
            <img src="/images/hot10.avif" alt="">
            <h3>Asif 5star</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
          <div class="box">
            <img src="/images/hot11.jpg" alt="">
            <h3>Sorce Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
          <div class="box">
            <img src="/images/hot11.jpg" alt="">
            <h3>Kranti & Star Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
          <div class="box">
            <img src="/images/hotel3.jpg" alt="">
            <h3>Oyo ramesh</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            <a href="/taj" class="btn">Go to booking</a>
        </div>
    </div>

</div>
{{>footer}}
</body>
</html>