{{>header}}

<body>

    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="headline">
            <h1>Welcome to Airbnb Website</h1>
            <p>We are glad to see you here!</p>
            <p>Please login or sign up to book the hotels.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 main_header_left">
                <h1>Spend Quality Holidays With Us</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi ipsa blanditiis adipisci! Odio
                    pariatur modi iusto assumenda debitis a aspernatur rem illum incidunt reprehenderit dolores soluta
                    omnis laboriosam natus optio maxime facilis explicabo repellendus quos, quidem voluptatem! Dolores
                    earum ipsam maxime harum. Veniam, architecto.</p>
            </div>
            <div class="col-md-6 col-12 main_header_right">
                <img src="/images/hotel1.webp" alt="">
            </div>
        </div>
    </div>

    {{>footer}}

    </html>